/* Configurações gerais */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FAFAFA;
}

/* TOPO DA PAGINA */
header {
    width: 100%;
    height: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header h1 {
    font-weight: 700;
    font-size: 37px;
    color: #FFFFFF;
}
/* FIM TOPO DA PAGINA */


main h2{
    font-weight: 700;
    font-size: 23px;
    color: #000000;
}
main h3{
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}

.carregando{
    margin-top: 80px;
}
/* Início - Tela Um*/
.container-usuario-vazio{
    display: flex;
    flex-direction: column;
    width: 1051px;
    min-height: 181px;
}

.container-usuario-vazio .titulo{
    width: 169px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Início do CSS do Quizz vazio*/
.container-usuario-vazio .quizz-usuario-vazio{
    width: 100%;
    height: 181px;
    display: flex;
    justify-content: center;
    background-color: #FAFAFA;
    border: 1px dashed #D5D5D5;
    border-radius: 5px;
    margin: 77px 0px 77px 0px;
}

.container-usuario-vazio .quizz-usuario-vazio .vazio{
    width: 250px;
    height: 181px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.container-usuario-vazio .quizz-usuario-vazio .vazio p{
    font-weight: 400;
    font-size: 20px;
    color: #B9B9B9;
    text-align: center;
}

.container-usuario-vazio .quizz-usuario-vazio .vazio button{
    width: 151px;
    height: 40px;
    background-color: #FAFAFA;
    border: 1px dashed #EC362D;
    border-radius: 50px;
}

.container-usuario-vazio .quizz-usuario-vazio .vazio button:hover{
    cursor: pointer;
    opacity: 0.8;
}
/* Fim do CSS do Quizz vazio*/

/* Início do CSS Quizz com conteúdo*/
.info-usuario{
    width: 190px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 69px;
    margin-bottom: 12px;
}

.info-usuario button{
    width: 30px;
    height: 30px;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #EC362D;
    border-radius: 500px;
    border: none;
}

.info-usuario button:hover{
    cursor: pointer;
    opacity: 0.8;
}

.container-usuario{
    width: 1100px;
    min-height: 181px;
    max-height: 386px;
    overflow-y: scroll;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 48px;
    position: relative;
}



.container-usuario .quizz-usuario{
    width: 340px;
    height: 181px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 12px;
    margin-right: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container-usuario .quizz-usuario:hover{
    cursor: pointer;
    opacity: 0.8;
}
.container-usuario .quizz-usuario p{
    font-weight: 400;
    font-size: 19px;
    color: #FFFFFF;
    text-align: center;
    margin: 0px 0px 10px 20px;
}

.container-usuario .quizz-usuario img {
    pointer-events: none;
    position: absolute;
    width: 340px;
    height: 181px;
    z-index: -1;
}

/* Fim do CSS Quizz com conteúdo*/
/* Início do CSS do Quizz da comunidade*/
.info-comunidade{
    width: 169px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 48px;
    margin-bottom: 12px;
}

.container-comunidade{
    width: 1100px;
    min-height: 181px;
    max-height: 589px;
    overflow-y: scroll;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    position: relative;
}

.container-comunidade .quizz-comunidade{
    width: 340px;
    height: 181px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 64.58%, #000000 100%);
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 12px;
    margin-right: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.container-comunidade .quizz-comunidade:hover{
    cursor: pointer;
    opacity: 0.8;
}

.container-comunidade .quizz-comunidade p{
    height: 38px;
    width: auto;
    text-align:left;
    font-weight: 400;
    font-size: 19px;
    color: #FFFFFF;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px 10px 10px 20px;
    word-break: break-all;
    display: flex;
    align-items: flex-end;

}

.container-comunidade .quizz-comunidade img {
    pointer-events: none;
    position: absolute;
    width: 340px;
    height: 181px;
    z-index: -1;
}


/* Fim do CSS do Quizz da comunidade*/

/*Fim - Tela Um*/

/* Início - Tela Dois*/
.tela-dois {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.banner{
    width: 100vw;
    height: 227px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.57));
    margin-bottom: 42px;
    position: relative;
}

.banner p{
    font-size: 39px;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
}

.banner img{
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 227px;
    z-index: -1;
    object-fit: contain;
}


.container-questao{
    width: 759px;
    height: 676px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 42px;
}

.container-questao .questao{
    width: 688px;
    height: 612px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-questao .questao .pergunta{
    width: 688px;
    height: 138px;
    background-color: #434CA0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-questao .questao .pergunta p{
    font-weight: 700;
    font-size: 23px;
    color: #FFFFFF;
}

.container-questao .questao .resposta{
width: 323px;
height: 217px;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.container-questao .questao .resposta img{
    width: 323px;
    height: 175px;
    object-fit: fill;
    border-radius: 1px;
}

.container-questao .questao .resposta p{
font-size: 20px;
font-weight: 700;
color: #000000;
}

.container-resultado{
    width: 759px;
    height: 430px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 42px;
}

.container-resultado .resultado{
    width: 727px;
    height: 99px;
    background-color: #EC362D;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 23px;
    color: #FFFFFF;
}

.container-resultado .descricao-resultado{
    width: 727px;
    height: 278px;
    display: flex;
    justify-content: space-between;
}

.container-resultado .descricao-resultado img{
    width: 364px;
    height: 273px;
    object-fit: contain;
}

.container-resultado .descricao-resultado .texto{
    width: 328px;
    height: 250px;
    display: flex;
    word-wrap: break-word;
    font-weight: 700;
    font-size: 19px;
    color: #484848;
}

.tela-dois button{
    width: 260.38px;
    height: 52px;
    margin-top: 57px 0px 16px;
    background-color: #EC362D;
    border-radius: 15px;
    border: none;
    font-weight: 400;
    font-size: 21px;
    text-align: center;
    color: #FFF5F4;
}

.tela-dois .home button{
    width: 260.38px;
    height: 52px;
    border: none;
    background-color: #FAFAFA;
    text-align: center;
    font-size: 21px;
    font-weight: 400;
    color: #818181;
    margin: 0px 0px 20px;
}
/* Fim - Tela Dois*/

/* Início - Tela Três */
.tela-tres h2{
    margin: 63px 0px 36px;
}
/*Tela 3.1 */
.tela-tres-info-quizz{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tela-tres-info-quizz .info-quizz-topo{
    margin: 71px 0px 27px;
}
.tela-tres-info-quizz .info-quizz-perguntas{
    width: 600px;
    height: 256px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}


.tela-tres-info-quizz button{
    width: 368.86px;
    height: 54px;
    margin-top: 85px;
    background-color: #EC362D;
    border-radius: 15px;
    border: none;
    font-weight: 400;
    font-size: 21px;
    text-align: center;
    color: #FFF5F4;
}

.tela-tres-info-quizz button:hover{
    cursor: pointer;
    opacity: 0.93;
}
/* Fim - Tela 3.1*/

/*Tela 3.2*/

.tela-tres-perguntas-quizz{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tela-tres-perguntas-quizz .perguntas-quizz-pergunta{
    width: 601px;
    height: 74px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 17px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 24px;
}

.tela-tres-perguntas-quizz .perguntas-quizz-pergunta ion-icon{
    font-size: 30px;
}

.tela-tres-perguntas-quizz .perguntas-quizz-pergunta ion-icon:hover{
    cursor: pointer;
    opacity: 0.6;
}

.tela-tres-perguntas-quizz .container-info-pergunta{
    width: 600px;
    height: 825px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.tela-tres-perguntas-quizz .container-info-pergunta .organizador{
    display: flex;
    flex-direction: column;
}
.tela-tres input{
    width: 564px;
    height: 46px;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 19px;
    color: #000000;
    padding: 0 20px;
}

.tela-tres input::placeholder{
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #BABABA;
}

.tela-tres-perguntas-quizz .container-info-pergunta .pergunta-texto{
    width: 564px;
    height: 106px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 14px;
    margin-bottom: 20px;
}
.tela-tres-perguntas-quizz .container-info-pergunta .resposta-correta{
    width: 564px;
    height: 106px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 14px;
    margin-bottom: 20px;
}
.tela-tres-perguntas-quizz .container-info-pergunta .resposta-incorreta{
    width: 564px;
    height: 106px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 14px;
    margin-bottom: 20px;
}
.tela-tres-perguntas-quizz button{
    width: 353.91px;
    height: 54px;
    background-color: #EC362D;
    border-radius: 15px;
    border: none;
    text-align: center;
    font-size: 21px;
    font-weight: 400;
    color: #FFF5F4;
    margin:57px 0 50px;
}
.tela-tres-perguntas-quizz button:hover{
    cursor: pointer;
    opacity: 0.92;
}

/*Fim Tela 3.2*/

/*Tela 3.3*/
.tela-tres-niveis-quizz{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tela-tres-niveis-quizz .container-nivel{
    width: 600px;
    height: 316px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding: 0 18px;
    margin-bottom: 24px;
}

.tela-tres-niveis-quizz .nivel-quizz{
    width: 601px;
    height: 74px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 17px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 24px;
}

.tela-tres-niveis-quizz .nivel-quizz ion-icon{
    font-size: 30px;
}

.tela-tres-niveis-quizz .nivel-quizz ion-icon:hover{
    cursor: pointer;
    opacity: 0.6;
}

.tela-tres-niveis-quizz button{
    width: 353.91px;
    height: 54px;
    background-color: #EC362D;
    border-radius: 15px;
    border: none;
    text-align: center;
    font-size: 21px;
    font-weight: 400;
    color: #FFF5F4;
    margin:57px 0 50px;
}
.tela-tres-niveis-quizz button:hover{
    cursor: pointer;
    opacity: 0.92;
}

/*Fim Tela 3.3*/

/* Tela 3.4 - Sucesso */
.tela-tres-sucesso-quizz{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tela-tres-sucesso-quizz img{
    width: 500px;
    height: 266px;
    object-fit: fill;
    border-radius: 5px;
    position: relative;
    margin-bottom: 45px;
}

.tela-tres-sucesso-quizz button{
    width: 353.91px;
    height: 54px;
    background-color: #EC362D;
    border-radius: 15px;
    border: none;
    text-align: center;
    font-size: 21px;
    font-weight: 400;
    color: #FFF5F4;
    margin-bottom: 10px;
}

.tela-tres-sucesso-quizz .home button{
    width: 353.91px;
    height: 54px;
    border: none;
    background-color: #FAFAFA;
    text-align: center;
    font-size: 21px;
    font-weight: 400;
    color: #818181;
    margin-bottom: 10px;
}

.tela-tres-sucesso-quizz button:hover{
    cursor: pointer;
    opacity: 0.92;
}

/* Fim Tela 3.4 */
/* Fim - Tela Três */


/* TELA DE CARREGAMENTO */
.carregando img{
    max-width: 420px;
    height: auto;
    margin-bottom: 25px;
}

.carregando {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: red;
    font-size: 25px;
}
/* FIM - TELA DE CARREGAMENTO */

/* EFEITOS VISUAIS */

.escondido {
    display: none;
}

.gradiente{
    width: 500px;
    height: 266px;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.62%, rgba(0, 0, 0, 0.8) 100%);
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: flex-end;
}

.gradiente p{
    font-weight: 400;
    font-size: 23px;
    color: #FFFFFF;
    text-align: center;
    margin: 0px 0px 15px 20px;
}



@media (max-width: 600px){
.container-usuario-vazio{
    width: 340px;
}

.info-usuario{
    width: 340px;
}
.container-usuario{
    width: 340px;
    max-height: 772px;
}

.container-comunidade{
    width: 340px;
    max-height: 772px;
}

.banner{
    width: 100vw;
    height: 227px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.57), rgba(0, 0, 0, 0.57));
    margin-bottom: 42px;
    position: relative;
}

.banner p{
    font-size: 19px;
}

.container-questao{
    width: 375px;
    height: 436px;
    margin-bottom: 42px;
}

.container-questao .questao{
    width: 340px;
    height: 400px;
}

.container-questao .questao .pergunta{
    width: 340px;
    height: 89px;
}
.container-questao .questao .pergunta p{
    font-weight: 700;
    font-size: 19px;
    color: #FFFFFF;
}

.container-questao .questao .resposta{
    width: 163px;
    height: 141px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-questao .questao .resposta img{
    width: 163px;
    height: 113px;
    object-fit: fill;
    border-radius: 3px;
}

.container-questao .questao .resposta p{
font-size: 13px;
}

.container-questao .questao{
    width: 340px;
}
.container-questao .questao .pergunta{
    width: 340px;
}
.container-questao .questao .resposta{
    width: 163px;
    height: 141px;
}
.container-questao .questao .resposta img{
    width: 163px;
    height: 113px;
}

.container-resultado{
    width: 375px;
    min-height: 690px;
    margin-bottom: 42px;
}

.container-resultado .resultado{
    width: 340px;
    height: 99px;
    font-size: 18px;
    margin-bottom: 9px;
}

.container-resultado .descricao-resultado{
    width: 340px;
    min-height: 280px;
    display: flex;
    flex-direction: column;
}

.container-resultado .descricao-resultado img{
    width: 340px;
    height: 255px;
    margin-bottom: 6px;
    object-fit: contain;
}

.container-resultado .descricao-resultado .texto{
    width: 340px;
    min-height: 40px;
    font-size: 17px;
}

.tela-dois button{
    width: 220px;
    height: 44px;
    margin-top: 34px 0px 8px;
    font-size: 18px;
}

.tela-dois .home button{
    width: 220px;
    height: 44px;
    font-size: 18px;
    margin: 0px 0px 20px;
}

/* Início - Tela Três */
.tela-tres h2{
    margin: 37px 0px 29px;
}
/*Tela 3.1 */
.tela-tres-info-quizz{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tela-tres-info-quizz .info-quizz-topo{
    margin: 0px;
}
.tela-tres-info-quizz .info-quizz-perguntas{
    width: 375px;
}

.tela-tres-info-quizz button{
    width: 323px;
    height: 54px;
    margin-top: 29px;
    background-color: #EC362D;
    border-radius: 15px;
    border: none;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #FFF5F4;
}

.tela-tres-info-quizz button:hover{
    cursor: pointer;
    opacity: 0.93;
}
/* Fim - Tela 3.1*/

/*Tela 3.2*/

.tela-tres-perguntas-quizz{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tela-tres-perguntas-quizz .perguntas-quizz-pergunta{
    width: 375px;
    height: 74px;
    margin-bottom: 24px;
}

.tela-tres-perguntas-quizz .perguntas-quizz-pergunta ion-icon{
    font-size: 30px;
}

.tela-tres-perguntas-quizz .perguntas-quizz-pergunta ion-icon:hover{
    cursor: pointer;
    opacity: 0.6;
}

.tela-tres-perguntas-quizz .container-info-pergunta{
    width: 375px;
    height: 825px;
    margin-bottom: 24px;
}

.tela-tres-perguntas-quizz .container-info-pergunta .organizador{
    width: 340px;
    display: flex;
    flex-direction: column;
}
.tela-tres input{
    width: 340px;
    height: 46px;
    border: 1px solid #D1D1D1;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 19px;
    color: #000000;
    padding: 0 20px;
}

.tela-tres input::placeholder{
    font-style: italic;
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    color: #BABABA;
}

.tela-tres-perguntas-quizz .container-info-pergunta .pergunta-texto{
    width: 375px;
    height: 106px;
}
.tela-tres-perguntas-quizz .container-info-pergunta .resposta-correta{
    width: 375px;
    height: 106px;
}
.tela-tres-perguntas-quizz .container-info-pergunta .resposta-incorreta{
    width: 375px;
}
.tela-tres-perguntas-quizz button{
    width: 323px;   
    font-size: 18px;
}

/*Fim Tela 3.2*/

/*Tela 3.3*/
.tela-tres-niveis-quizz{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tela-tres-niveis-quizz .container-nivel{
    width: 375px;
}

.tela-tres-niveis-quizz .nivel-quizz{
    width: 375px;
}

.tela-tres-niveis-quizz button{
    width: 323px;
    font-size: 18px;
    margin:28px 0 50px;
}

/*Fim Tela 3.3*/

/* Tela 3.4 - Sucesso */
.tela-tres-sucesso-quizz{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tela-tres-sucesso-quizz img{
    width: 340px;
    height: 181px;
    margin-bottom: 24px;
}

.tela-tres-sucesso-quizz button{
    width: 323px;
    height: 54px;
    font-size: 18px;
}

.tela-tres-sucesso-quizz .home button{
    width: 323px;
    height: 54px;
    font-size: 18;
    margin-bottom: 10px;
}
/* Fim Tela 3.4 */
/* Fim - Tela Três */
.escondido{
    display: hidden;
}
.gradiente{
    width: 340px;
    height: 181px;
}

.gradiente p{
    font-size: 19px;
    margin: 0px 0px 15px 15px;
}
}